.loginstyle {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 7px;
}

.body {
    background-color: #e8f0f0;
}

.signup {
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #3f3f3f;
    margin-bottom: 20px;
}

.signup::after {
    display: table;
    width: 60px;
    height: 0.2em;
    margin: 0.25em auto;
    border-radius: 0.5em;
    background-color: #555;
    content: "";
}

.error {
    font-size: 13px;
    color: red;
    font-weight: 500;
    margin-left: 10px;
}
